body
	background black
	color white
	font-family "Helvetica Neue"
	
.bigNumbers
	margin 0
	font-size 4em
	font-weight 100
	line-height 1.1em
	background grey
	padding .5em 0
	display block
	width 100%
	text-align center
	
.button
	border none
	display inline-block
	background grey
	padding .5em
	color white
	text-decoration none
	font-size 1.2em
	
	&.full-width
		width 100%
		display block
	
.weather
	width 100%
	height auto
	display block

.day-counter
	display inline-block
	padding .5em