html
	head
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(http-equiv="refresh", content="3600; URL=/")
		link(rel="stylesheet", href="static/css/base.css")
		script(src="/static/js/angular.js")
		script(src="/static/js/index.js")

	body(ng-app="magicMirror")
		div(ng-controller="dayCounter")
			p|Days since last change 
			p.bigNumbers|{{count}}
			p
				button.button(ng-click="updateDate()")|Update
			
		p|Weather Göteborg
		p
			img.weather(src="http://www.yr.no/sted/Sverige/V%C3%A4stra_G%C3%B6taland/G%C3%B6teborg/avansert_meteogram.png")

		p|Weather Partille
		p
			img.weather(src="http://www.yr.no/place/Sweden/V%C3%A4stra_G%C3%B6taland/Partille/avansert_meteogram.png")
