html
	head
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(http-equiv="refresh", content="3600; URL=/")
		link(rel="stylesheet", href="static/css/base.css")
	body
		p|Days since last accident 
		p.bigNumbers= timeSinceLastDate
		p
			a.button(href="update")|Update